*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.contactForm{
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 15px;
	border: 2px solid #922C40;
	background-color:#DC9750;
	color:#922C40;
	font-size: 20px;
	border-radius: 20px;
}


.banner1{
	height: 150px;
	/*width: auto;*/
	background-image: url(../images/red-2.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border:2px solid black;
	padding: 100px;
}

.text{
	background-color: rgba(255,255,255,0.5);
	color: #922C40;
	font-family: 'Grey Qo', cursive;
	font-size: 70px;
	text-align: center;
	font-weight: 800;
}

input{
	width: 100%;
	padding: 5px;
	border: 2px solid #922C40;
	margin: 10px auto;
	background-color: #1E2640;
	color: white;
	border-radius: 10px;
}

textarea{
	width: 100%;
	padding: 5px;
	border: 2px solid #922C40;
	margin: 10px auto;
	background-color: #1E2640;
	color: white;
	border-radius: 10px;
	height: 150px;
	resize: none;
}

.btn{
	width: 100%;
	padding: 5px;
	border: 2px solid #922C40;
	margin: 10px auto;
	background-color: white;
	color: black;
	border-radius: 10px;
	cursor: pointer;
}

@font-face{
	font-family: myfont;
	src:  url(GreyQo-Regular.ttf);
}

p{
	font-family: 'Grey Qo', cursive; 
	font-size: 20px;
	font: black;
	background-color: #F3EAC0;
}


@media (max-width: 768px){

	.contactForm{
		width: 70%;
		margin: auto;
		text-align: center;
		padding: 15px;
		border: 2px solid #922C40;
		background-color: #F3EAC0;
		color: #922C40;
		font-size: 25px;
		border-radius: 20px;
	}

	iframe{
		width: 70%;
	}

	.text{
		background-color: rgba(255,255,255,0.5);
		color: #922C40;
		font-family: 'Grey Qo', cursive;
		font-size: 40px;
		text-align: center;
		font-weight: 800;
	}
	
}
